<span class="albora-header__cart-bubble">
  {{ 'icon-cart.svg' | inline_asset_content }}
  <span class="albora-header__cart-count cart-count-bubble" aria-hidden="true">{{ cart.item_count }}</span>
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
</span>
<span class="albora-header__cart-total">{{ cart.total_price | money }}</span>
